:8080

root * dist
file_server
try_files {path} /index.html
encode gzip

header {
    # Prevent clickjacking
    X-Frame-Options "SAMEORIGIN"
    # Prevent MIME sniffing
    X-Content-Type-Options "nosniff"
}
